<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <header><%- include('./includes/navigation.ejs') %></header>
    <div class="container my-24 mx-auto md:px-6">
      <section class="mb-32 text-center md:text-left">
        <div
          class="mx-auto block w-[85%] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
        >
          <div class="hero min-h-screen bg-base-200">
            <div class="hero-content pl-6 md:px-6 flex-col lg:flex-row">
              <img
                src="<%= book.imageUrl %>"
                class="w-fit rounded-t-lg shadow-2xl"
              />
              <div>
                <h1 class="py-6 pl-6 mb-6 text-4xl font-bold">
                  <%= book.title %>
                </h1>
                <h2
                  class="py-6 pl-6 pb-2 text-2xl text-gray-800 dark:text-white"
                >
                  <span class="font-bold">Author: </span><%= book.author %>
                </h2>
                <h2
                  class="py-6 pl-6 pb-2 text-2xl text-gray-800 dark:text-white"
                >
                  <span class="font-bold">Publisher: </span><%= book.publisher
                  %>
                </h2>

                <h2
                  class="py-6 pl-6 pb-2 text-2xl text-gray-800 dark:text-white"
                >
                  <span class="font-bold">Publication date: </span><%=
                  book.publishYear %>
                </h2>

                <p
                  class="py-6 pl-6 mb-6 pb-2 text-justify text-2xl text-gray-800 dark:text-white"
                >
                  <span class="font-bold">Description: </span><%=
                  book.description %>
                </p>
                <button
                  type="button"
                  id="go-back"
                  class="btn btn-primary ml-6"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  onclick="{history.back()}"
                >
                  << Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('./includes/end.ejs') %>
  </body>
</html>
